@model ERPOLD.Models.ViewModel.Inventory.AcountMasterVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AccountMaster";
}
<div class="sale">
    <div class="container">
        <div class="row">
            <div class="saleheading"><h2>Account Master</h2></div>

            @using (Html.BeginForm("AccountMasterSaveChanges", "Inventory", FormMethod.Post))
            {
                <table class="saletablesaledate">
                    @Html.HiddenFor(model => model.ACCOUNTID)
                    <tr>
                        <td>Account Name</td>
                        <td>
                            @Html.TextBoxFor(x => x.ACCOUNTNAME, new { @style = "text-transform:uppercase" })
                            @Html.ValidationMessageFor(x => x.ACCOUNTNAME)
                        </td>

                    </tr>
                    <tr>
                        <td>Opening Balance</td>
                        <td>@Html.TextBoxFor(x => x.OPENING_BALANCE)</td>
                    </tr>
                    <tr>
                        <td>Oppning Type</td>
                        <td>
                            @Html.DropDownList("OPENINGTYPE", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="CREDIT", Value = "1" },
                    new SelectListItem{ Text="DEBIT", Value = "0" }
                 })

                        </td>
                    </tr>
                    <tr>
                        <td>Account Type</td>
                        <td>
                            @Html.DropDownListFor(x => x.ACCOUNTTYPEID, (SelectList)ViewBag.accountTypeList, "SelectCategory", new { @id = "accountTypeId" })
                        </td>
                    </tr>
                    <tr>
                        <td>Address1</td>
                        <td>@Html.TextBoxFor(x => x.ADDRESS1, new { @style = "text-transform:uppercase" })</td>
                    </tr>
                    <tr>
                        <td>Address2</td>
                        <td>@Html.TextBoxFor(x => x.ADDRESS2, new { @style = "text-transform:uppercase" })</td>
                    </tr>
                    <tr>
                        <td>Address3</td>
                        <td>@Html.TextBoxFor(x => x.ADDRESS3, new { @style = "text-transform:uppercase" })</td>
                    </tr>
                    <tr>
                        <td>BS Positive</td>
                        <td>
                            @Html.DropDownListFor(x => x.BSIDPOSITIVE, (SelectList)ViewBag.BSPositiveList, "SelectCategory")
                        </td>
                    </tr>
                    <tr>
                        <td>BS Negative</td>
                        <td>
                            @Html.DropDownListFor(x => x.BSIDNEGATIVE, (SelectList)ViewBag.BSNegativeList, "SelectCategory")
                        </td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Html.TextBoxFor(x => x.EMAIL, new { @style = "text-transform:uppercase" })</td>
                    </tr>

                    <tr>
                        <td>Tin No</td>
                        <td>@Html.TextBoxFor(x => x.TINNO, new { @style = "text-transform:uppercase" })</td>
                    </tr>
                    <tr>
                        <td>Mobile No</td>
                        <td>@Html.TextBoxFor(x => x.MOBILENO)</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            @if (Model == null)
                            {
                                <input type="submit" value="Save" class="btn btn-default" />
                            }
                            else
                            {
                                if (Model.ACCOUNTID > 0)
                                {
                                    <input type="submit" value="Update" class="btn btn-default" />
                                }
                                else
                                {
                                    <input type="submit" value="Save" class="btn btn-default" />
                                }

                            }
                            <input id="btn1" class="btn btn-default" type="button" name="name" value="Hide/Show " />
                            <a class="btn btn-default" href='@Url.Action("Index", "Inventory")'>Back </a>
                        </td>
                    </tr>
                </table>
            }

            <table id="tbl1" style="display:none" class="table">
                <tr>
                    <th>
                        Account Name
                    </th>
                    <th>
                        Opening Balance
                    </th>
                    <th>Opening Type</th>
                    <th>
                        Account Type
                    </th>
                    <th>
                        Address1
                    </th>
                    <th>
                        BS Positive
                    </th>
                    <th>
                        BS Negative
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Tin No
                    </th>
                    <th>
                        Mobile No
                    </th>
                </tr>

                @foreach (var item in ViewBag.AccountList)
                {
                    <tr>
                        <td>
                            @item.ACCOUNTNAME
                        </td>
                        <td>
                            @item.OPENING_BALANCE
                        </td>
                        <td>
                            @item.OPENINGTYPE
                        </td>

                        <td>
                            @item.ACCOUNTTYPEID
                        </td>
                        <td>
                            @item.ADDRESS1
                        </td>
                        <td>
                            @item.BSIDPOSITIVE
                        </td>
                        <td>
                            @item.BSIDNEGATIVE
                        </td>
                        <td>
                            @item.EMAIL
                        </td>
                        <td>
                            @item.TINNO
                        </td>

                        <td>
                            @item.MOBILENO
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditAccountMaster", new { id = item.ACCOUNTID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ACCOUNTID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ACCOUNTID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btn1").click(function () {
            if ($('#tbl1').css('display') == 'block') {
                $("#tbl1").css('display', 'none')
            }
            else {
                $("#tbl1").css('display', 'block')
            }
        });
    })

</script>
