@model ERPOLD.Models.TblBrand

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<div class="sale">
    <div class="container">
        <div class="row">
            <div class="saleheading"><h2>Brand Master</h2></div>

            <ul>
                <li>@Html.ActionLink("Item", "Items", "Inventory")</li>
                <li>@Html.ActionLink("Size", "Size", "Inventory")</li>
                <li>@Html.ActionLink("AccountTypeMaster", "AccountTypeMaster", "Inventory")</li>

                <li>@Html.ActionLink("BALNACESHEETGROUP", "BALNACESHEETGROUP", "Inventory")</li>

                <li>@Html.ActionLink("AccountMaster", "AccountMaster", "Inventory")</li>
                <li>@Html.ActionLink("TaxConfig", "TaxConfig", "Inventory")</li>
                <li>@Html.ActionLink("PurchaseTaxConfig", "PurchaseTaxConfig", "Inventory")</li>
                <li>@Html.ActionLink("ItemMasterHeader", "ItemMasterHeader", "Inventory")</li>
                <li>@Html.ActionLink("ItemMasterDetails", "ItemMasterDetails", "Inventory")</li>
            </ul>



            @using (Html.BeginForm("BrandSaveChanges", "Inventory", FormMethod.Post))
{

    <table class="saletablesaledate">
        @Html.HiddenFor(x => x.BrandId)
        <tr>
            <td>Name </td>
            <td>@Html.TextBoxFor(x => x.BrandName)</td>
        </tr>

        <tr>
            <td></td>
            <td>
                @if (Model == null)
                {
                    <input type="submit" value="Create" class="btn btn-default" />
                }
                else
                {
                    <input type="submit" value="Update" class="btn btn-default" />
                }
                <input id="btn1" class="btn btn-default" type="button" name="name" value="Hide/Show " />

                <a class="btn btn-default" href='@Url.Action("Index", "Inventory")'>Back </a>

            </td>
        </tr>
    </table>
}

            <table class="table" id="tbl1" style="display:none">
                <tr>
                    <th>
                        Name
                    </th>

                </tr>

                @foreach (var item in ViewBag.BrandList)
                {
                    <tr>
                        <td>
                            @item.BrandName
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "EditBrand", new { id = item.BrandId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.BrandId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.BrandId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn1").click(function () {
            if ($('#tbl1').css('display') == 'block') {
                $("#tbl1").css('display', 'none')
            }
            else {
                $("#tbl1").css('display', 'block')
            }

        });
    })


</script>
