@model ERPOLD.Models.ViewModel.ItemMasterHeaderDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ItemMasterHeader";
}

<div class="sale">
    <div class="container">
        <div class="row">
            <div class="saleheading"><h2>Item Master Header</h2></div>


            @using (Html.BeginForm("ItemMasterHeaderSaveChanges", "Inventory", FormMethod.Post))
            {
                <table class="saletablesaledate">
                    @Html.HiddenFor(x => x.ITEMID)
                    <tr>
                        <td>Name</td>
                        <td>@Html.TextBoxFor(x => x.ITEMNAME, new { @style = "text-transform:uppercase" })</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>@Html.DropDownListFor(x => x.BRANDID, (SelectList)ViewBag.BrandIdList, "--Select--")</td>
                    </tr>
                    <tr>
                        <td>ItemGroup</td>
                        <td>@Html.DropDownListFor(x => x.ITEMGROUPID, (SelectList)ViewBag.ItemGrpIdList, "--Select--")</td>
                    </tr>
                    <tr>
                        <td>Purchase Tax</td>
                        <td>@Html.DropDownListFor(x => x.PURTAXID, (SelectList)ViewBag.PurchaseTax, "--Select--")</td>
                    </tr>
                    <tr>
                        <td>Sale Tax</td>
                        <td>@Html.DropDownListFor(x => x.SALETAXID, (SelectList)ViewBag.SaleTax, "--Select--")</td>
                    </tr>
                </table>
                <br /><br />

                <table class="table" id="Table1">
                    <tr>
                        <td>Size</td>
                        <td>Barcode</td>
                        <td>BasicRate</td>
                        <td>PurchaseRate</td>
                        <td>SaleRate</td>
                        <td>MRP</td>
                    </tr>
                    <tr class="tr_clone">
                        @{int j = 0;}
                        <td>
                            @Html.DropDownListFor(x => x.tbiitemdeatil[j].SIZEID, (SelectList)ViewBag.SizeidList, "--Select Size--", new { @id = "SIZEID" + j })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.tbiitemdeatil[j].BARCODE, new { @id = "BARCODE" + j, @style = "text-transform:uppercase" })

                        </td>
                        <td>

                            @Html.TextBoxFor(x => x.tbiitemdeatil[j].BASICRATE, new { @id = "BASICRATE" + j })
                        </td>
                        <td>

                            @Html.TextBoxFor(x => x.tbiitemdeatil[j].PURRATE, new { @id = "PURRATE" + j })
                        </td>
                        <td>

                            @Html.TextBoxFor(x => x.tbiitemdeatil[j].SALERATE, new { @id = "SALERATE" + j })
                        </td>
                        <td>

                            @Html.TextBoxFor(x => x.tbiitemdeatil[j].MRP, new { @id = "MRP" + j })
                        </td>
                        <td>
                            <input id="addButton" type="button" name="name" value="+" />
                        </td>
                    </tr>
                </table>

                        //To make unique Id



                        if (Model.ITEMID > 0)
                        {
                            <input type="submit" value="Update" class="btn btn-default" />
                        }
                        else
                        {
                            <input type="submit" value="Create" class="btn btn-default" />

                        }

            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var id = 1;
        $("#addButton").click(function () {

            var newRow = '<tr class="tr_clone">';
            newRow += '<td><select data-val="true" style="width: 107px;"data-val-number="The field SIZEID must be a number." id="SIZEID' + id + '" name="tbiitemdeatil[' + id + '].SIZEID"></select></td>';
            newRow += '<td><input id="BARCODE' + id + '" name="tbiitemdeatil[' + id + '].BARCODE" type="text" value=""></td>';
            newRow += '<td><input data-val="true" data-val-number="The field BASICRATE must be a number." id="BASICRATE' + id + '" name="tbiitemdeatil[' + id + '].BASICRATE" type="text" value="0"></td>';
            newRow += '<td><input data-val="true" data-val-number="The field PURRATE must be a number." id="PURRATE' + id + '" name="tbiitemdeatil[' + id + '].PURRATE" type="text" value="0"></td>';
            newRow += '<td> <input data-val="true" data-val-number="The field SALERATE must be a number." id="SALERATE' + id + '" name="tbiitemdeatil[' + id + '].SALERATE" type="text" value="0"></td>';
            newRow += '<td><input data-val="true" data-val-number="The field MRP must be a number." id="MRP' + id + '" name="tbiitemdeatil[' + id + '].MRP" type="text" value="0"></td>';
            newRow += ' <td> <input class="BtnMinus" type="button" name="name" value="-" /></td>';
            newRow += ' </tr>';
            $(newRow).appendTo($("#Table1"));

            $.ajax({
                url: "@Url.Action("GetSize", "Inventory")",
                data: {},
                dataType: "json",
                type: "GET",
                error: function () {
                    alert(" An error occurred.");
                },
                success: function (data) {
                    var optionhtml1 = '<option value="">' + "--Select Size--" + '</option>';
                    $("#SIZEID" + (id - 1)).append(optionhtml1);


                    $.each(data, function (i) {
                        var optionhtml = '<option value="' +
                    data[i].Id + '">' + data[i].Name + '</option>';
                        $("#SIZEID" + (id - 1)).append(optionhtml);
                    });
                }
            });
            id = id + 1;


            //e.preventDefault();
            //var $tr = $(this).closest('.tr_clone');
            //var $clone = $tr.clone();
            //$clone.find(':text').val('');
            //$tr.after($clone);
            //var $tableBody = $("#Table1");
            //var $trLast = $tableBody.closest('.tr_clone');
            //var $trNew = $trLast.clone();

            //var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
            //$trNew.find("td:last").html('<a href="#" class="remove">Remove</a>');
            //$.each($trNew.find(':input'), function (i, val) {
            //    // Replaced Name
            //    var oldN = $(this).attr('name');
            //    var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
            //    $(this).attr('name', newN);
            //    //Replaced value
            //    var type = $(this).attr('type');
            //    if (type.toLowerCase() == "text") {
            //        $(this).attr('value', '');
            //    }

            //    // If you have another Type then replace with default value
            //    $(this).removeClass("input-validation-error");

            //});
            //$trLast.after($trNew);

            //var row = $('#Table1').closest('tr').html();
            //alert(row);
            //$('#Table1').append('<tr>' + row + '</tr>');

            //'<tr class="tr_clone">'





            //var newRow = '<tr id=' + id + '><td><input type=hidden id=SIZEID value="' + $('#ItemIdDDL option:selected').val() + '"/><input type=hidden id=hdnsize value="' + $('#SIZEID option:selected').val() + '"/>' + $('#ItemIdDDL option:selected').text() + ' </td><td>' + $('#SIZEID option:selected').text() + '</td><td>' + $('#BARCODE').val() + '</td>' + '<td>' + $('#BASICRATE').val() + '</td><td>' + $('#PURRATE').val() + '</td><td>' + $('#SALERATE').val() + '</td><td>' + $('#MRP').val() + '</td><td>' + '<input class="BtnMinus" type="button" name="name" value="-" />' + '</td></tr>';
            //var newRow = '<tr id=' + id + '><td><input type=hidden id=hdnitem value="' + $('#ItemIdDDL option:selected').val() + '"/><input type=hidden id=hdnsize value="' + $('#SIZEID option:selected').val() + '"/>' + $('#ItemIdDDL option:selected').text() + ' </td><td>' + $('#SIZEID option:selected').text() + '</td><td>' + $('#BARCODE').val() + '</td>' + '<td>' + $('#BASICRATE').val() + '</td><td>' + $('#PURRATE').val() + '</td><td>' + $('#SALERATE').val() + '</td><td>' + $('#MRP').val() + '</td><td>' + '<input class="BtnMinus" type="button" name="name" value="-" />' + '</td></tr>';
            // id = id + 1;
            //$(newRow).appendTo($("#Table1"))
            // id++;
            //$("#ItemIdDDL").val('');
            //$("#SIZEID").val('');
            //$("#BARCODE").val("");
            //$("#BASICRATE").val("");
            //$("#PURRATE").val("");
            //$("#SALERATE").val("");
            //$("#MRP").val("");

        });
        function deleteRow() {
            var par = $(this).parent().parent();
            par.remove();
        };
        $("#Table1").on("click", ".BtnMinus", deleteRow);
    });
</script>
