@model ERPOLD.Models.TblSizeMaster
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Size";
}
<div class="sale">
    <div class="container">
        <div class="row">
            <div class="saleheading"><h2>Size</h2></div>


            @using (Html.BeginForm("SizeSaveChanges", "Inventory", FormMethod.Post))
            {
                <table class="saletablesaledate">
                    @Html.HiddenFor(x => x.Id)
                    <tr>
                        <td>Name </td>
                        <td>@Html.TextBoxFor(x => x.Name)</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            @if (Model == null)
                            {
                                <input type="submit" value="Create" class="btn btn-default" />
                            }
                            else
                            {
                                <input type="submit" value="Update" class="btn btn-default" />
                            }
                            <input id="btn1" class="btn btn-default" type="button" name="name" value="Hide/Show " />

                            <a class="btn btn-default" href='@Url.Action("Index", "Inventory")'>Back </a>
                        </td>
                    </tr>
                </table>
            }

            <table class="table" id="tbl1" style="display:none">
                <tr>
                    <th>
                        Name
                    </th>

                </tr>

                @foreach (var item in ViewBag.SizeList)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "EditSize", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btn1").click(function () {
            if ($('#tbl1').css('display') == 'block') {
                $("#tbl1").css('display', 'none')
            }
            else {
                $("#tbl1").css('display', 'block')
            }
        });
    })

</script>
