@model ERPOLD.Models.TBACCOUNTTYPEMASTER

@{
    ViewBag.Title = "AccountTypeMaster";
}

<h2>AccountTypeMaster</h2>

@using (Html.BeginForm("AccountTypeMasterSaveChanges", "Inventory", FormMethod.Post))
{

    <table>
        @Html.HiddenFor(model => model.ACCOUNTTYPEID)
        <tr>
            <td>Name</td>
            <td>@Html.TextBoxFor(x => x.ACCOUNTTYPENAME, new { @style = "text-transform:uppercase" })</td>
        </tr>
        <tr>
            <td></td>
            <td>
                @if (Model == null)
                {
                    <input type="submit" value="Save" class="btn btn-default" />
                }
                else
                {
                    <input type="submit" value="Update" class="btn btn-default" />
                }
                <input id="btn1" class="btn btn-default" type="button" name="name" value="Hide/Show " />

                <a class="btn btn-default" href='@Url.Action("Index", "Inventory")'>Back </a>
            </td>
        </tr>
    </table>
}

<table id="tbl1" style="display:none" class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.AccountList)
    {
        <tr>
            <td>
                @item.ACCOUNTTYPENAME
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAccountTypeMaster", new { id = item.ACCOUNTTYPEID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ACCOUNTTYPEID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ACCOUNTTYPEID })
            </td>
        </tr>
    }

</table>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btn1").click(function () {
            if ($('#tbl1').css('display') == 'block') {
                $("#tbl1").css('display', 'none')
            }
            else {
                $("#tbl1").css('display', 'block')
            }
        });
    })

</script>