@model ERPOLD.Models.TBITEMMASTERDETAIL

@{
    ViewBag.Title = "ItemMasterDetails";
}

<h2>ItemMasterDetails</h2>

@using (Html.BeginForm("ItemMasterDetailsSaveChanges", "Inventory", FormMethod.Post))
{

    <table>
        @Html.HiddenFor(x=>x.ItemMasterDetailId)
        <tr>
            <td>ItemId</td>
            <td>
                @Html.DropDownListFor(x => x.ITEMID, (SelectList)ViewBag.ItemidList, "SelectCategory")
            </td>
        </tr>
        <tr>
            <td>SizeId</td>
            <td>
            @Html.DropDownListFor(x => x.SIZEID, (SelectList)ViewBag.SizeidList, "SelectCategory")</td>
        </tr>
        <tr>
            <td>Barcode</td>
            <td>@Html.TextBoxFor(x => x.BARCODE)</td>
        </tr>
        <tr>
            <td>BasicRate</td>
            <td>@Html.TextBoxFor(x => x.BASICRATE)</td>
        </tr>

        <tr>
            <td>PurchaseRate</td>
            <td>@Html.TextBoxFor(x => x.PURRATE)</td>
        </tr>

        <tr>
            <td>SaleRate</td>
            <td>@Html.TextBoxFor(x => x.SALERATE)</td>
        </tr>
        <tr>
            <td>MRP</td>
            <td>@Html.TextBoxFor(x => x.MRP)</td>
        </tr>

        <tr>
            <td></td>
            <td>
                @if (Model==null)
                {
                <input type="submit" value="Create" class="btn btn-default" />
                }
                else { 
                <input type="submit" value="Update" class="btn btn-default" />
                }

                <input id="btn1" class="btn btn-default" type="button" name="name" value="Hide/Show " />

                <a class="btn btn-default" href='@Url.Action("Index", "Inventory")'>Back </a>
            </td>
        </tr>
    </table>
}

<table class="table" id="tbl1" style="display:none">
    <tr>
        <th>
            ItemId
        </th>
        <th>
            SizeId
        </th>

        <th>
            Barcode
        </th>
        <th>
            BasicRate
        </th>
        <th>
            PurchaseRate
        </th>
        <th>
            SaleRate
        </th>
        <th>
            MRP
        </th>
    </tr>

    @foreach (var item in ViewBag.ItemMasterList)
    {
        <tr>

            <td>
                @item.ITEMID
            </td>
            <td>
                @item.SIZEID
            </td>

            <td>
                @item.BARCODE
            </td>
            <td>
                @item.BASICRATE
            </td>

            <td>
                @item.PURRATE
            </td>
            <td>
                @item.SALERATE
            </td>
            <td>
                @item.MRP
            </td>


            <td>
                @Html.ActionLink("Edit", "EditItemMasterDetails", new { id = item.ItemMasterDetailId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemMasterDetailId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemMasterDetailId })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btn1").click(function () {
            if ($('#tbl1').css('display') == 'block') {
                $("#tbl1").css('display', 'none')
            }
            else {
                $("#tbl1").css('display', 'block')
            }
        });
    })

</script>