@model ERPOLD.Models.TBACCOUNTMASTER

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TBACCOUNTMASTER</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ACCOUNTID)

        <div class="form-group">
            @Html.LabelFor(model => model.ACCOUNTTYPEID, "ACCOUNTTYPEID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ACCOUNTTYPEID", String.Empty)
                @Html.ValidationMessageFor(model => model.ACCOUNTTYPEID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OPENING_BALANCE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OPENING_BALANCE)
                @Html.ValidationMessageFor(model => model.OPENING_BALANCE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OPENINGTYPE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OPENINGTYPE)
                @Html.ValidationMessageFor(model => model.OPENINGTYPE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BSIDPOSITIVE, "BSIDPOSITIVE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BSIDPOSITIVE", String.Empty)
                @Html.ValidationMessageFor(model => model.BSIDPOSITIVE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BSIDNEGATIVE, "BSIDNEGATIVE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BSIDNEGATIVE", String.Empty)
                @Html.ValidationMessageFor(model => model.BSIDNEGATIVE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADDRESS1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ADDRESS1)
                @Html.ValidationMessageFor(model => model.ADDRESS1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADDRESS2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ADDRESS2)
                @Html.ValidationMessageFor(model => model.ADDRESS2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ADDRESS3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ADDRESS3)
                @Html.ValidationMessageFor(model => model.ADDRESS3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMAIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL)
                @Html.ValidationMessageFor(model => model.EMAIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TINNO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TINNO)
                @Html.ValidationMessageFor(model => model.TINNO)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOBILENO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOBILENO)
                @Html.ValidationMessageFor(model => model.MOBILENO)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
