@model ERPOLD.Models.ViewModel.Ledgerreport
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Ledger";
}

<h2>Account Ledger</h2>
@using (Html.BeginForm("Ledger", "Reports", FormMethod.Post))
{
<table><tr>
    <td>Account</td>
    <td>
        @Html.DropDownListFor(x => x.ACCOUNTID, (SelectList)ViewBag.AccountIdList, "-Select-")
    </td>
    <td></td>
           <td>DateFrom</td>
           <td>
               <input id="DateFrom" name="DateFrom" placeholder="DD/MM/YYYY" type="text" value="">
           </td>
           <td></td>
           <td>DateTo</td>
           <td>
               <input id="DateTo" name="DateTo" placeholder="DD/MM/YYYY" type="text" value="">
           </td>
    <td></td>
           <td></td>
    <td><input id="goButton" type="button" name="name" value="GO" /></td>
</tr></table>
}
<br />
<br />
<table class="table" id="tbl1" border="1px">
    <tr>
        <th>
          Account Name
        </th>
        <th>
          Date
        </th>

        <th>
          Description
        </th>
        <th>
          Debit
        </th>
        <th>
          Credit
        </th>
        <th>
          Balance
        </th>

    </tr>

    @foreach (var item in ViewBag.Ledger)
    {
        <tr>

            <td>
                @item.ACCOUNTNAME
            </td>
            <td>
              @item.Date.ToString("dd/MM/yyyy")
            </td>

            <td>
                @item.Description
            </td>
            <td>
               @item.Debit
            </td>

            <td>
               @item.Credit
            </td>
            <td>
                @item.OpeningBal
            </td>


         
        </tr>
    }

</table>
<script>
    $(document).ready(function () {
        $("#goButton").click(function () {
           
        });
    });
</script>


