@model ERPOLD.Models.TBCASHRECEIPT

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CashReceipt";
}

<div class="sale">
    <div class="container">
        <div class="row">
            <div class="saleheading"><h2>Cash Receipt</h2></div>


            <ul>
                <li>@Html.ActionLink("CashPayment", "CashPayment", "Payment")</li>
                <li>@Html.ActionLink("CashReceipt", "CashReceipt", "Payment")</li>
                <li>@Html.ActionLink("ChequeReceipt", "ChequeReceipt", "Payment")</li>
                <li>@Html.ActionLink("CHQPayment", "CHQPayment", "Payment")</li>
            </ul>
            <br />
            <br />
            @ViewBag.savemsg
            @using (Html.BeginForm("CashReceiptSaveChanges", "Payment", FormMethod.Post))
            {

                <table class="saletablesaledate">
                    @Html.HiddenFor(x => x.SerialNo)
                    <tr>
                        <td>Account</td>
                        <td>
                            @Html.DropDownListFor(x => x.AccountHeadCode, (SelectList)ViewBag.AccountHeadCodeList, "-Select-", new { onchange = "GetOpeningBal(this)" })
                        </td>
                    </tr>
                    <tr>
                        <td>Opening Balance</td>
                        <td>
                            @Html.TextBoxFor(x => x.OpeningBal, new { @readonly = "readonly" })
                        </td>
                    </tr>

                    <tr>
                        <td>Date</td>
                        <td>
                            @Html.TextBoxFor(x => x.Date)
                        </td>
                    </tr>
                    <tr>
                        <td>Customer Head</td>
                        <td>
                            @Html.DropDownListFor(x => x.CustomerHead, (SelectList)ViewBag.CustomerHeadList, "-Select-")
                        </td>
                    </tr>
                    <tr>
                        <td>Voucher</td>
                        <td>
                            @Html.TextBoxFor(x => x.Voucher)
                        </td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>
                            @Html.TextBoxFor(x => x.Amount)
                        </td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>
                            @Html.TextBoxFor(x => x.Discount)
                        </td>
                    </tr>
                    <tr>
                        <td>Narration</td>
                        <td>
                            @Html.TextBoxFor(x => x.Narration)
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            @if (Model == null)
                            {
                                <input type="submit" value="Save" class="btn btn-default" />
                            }
                            else
                            {
                                <input type="submit" value="Update" class="btn btn-default" />
                            }
                            <input id="btn1" class="btn btn-default" type="button" name="name" value="Hide/Show " />

                            @*<a class="btn btn-default" href='@Url.Action("CashReceipt", "Payment")'>Back </a>*@
                        </td>

                    </tr>
                </table>
            }

            <table class="table" id="tbl1" style="display:none">
                <tr>
                    <th>
                        Account
                    </th>
                    <th>
                        Opening Balance
                    </th>

                    <th>
                        Date
                    </th>
                    <th>
                        Customer Head
                    </th>
                    <th>
                        Voucher
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Narration
                    </th>
                </tr>

                @foreach (var item in ViewBag.CashReceiptList)
                {
                    <tr>
                        <td>
                            @item.AccountHeadCode
                        </td>

                        <td>
                            @item.OpeningBal
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.CustomerHead
                        </td>
                        <td>
                            @item.Voucher
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.Discount
                        </td>
                        <td>
                            @item.Narration
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "EditCashReceipt", new { id = item.SerialNo }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SerialNo }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.SerialNo })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btn1").click(function () {
            debugger;
            if ($('#tbl1').css('display') == 'block') {
                $("#tbl1").css('display', 'none')
            }
            else {
                $("#tbl1").css('display', 'block')
            }
        });
    });

    function GetOpeningBal(event) {

        var res = $(event).attr('name');

        var selected = $("select[name='" + res + "']  option:selected").val();

        //res = res.split('.')[0];
        // alert("select[name='" + res + ".SizeID']");
        // $("select[name='" + res + ".SizeID']").empty();
        $.ajax({
            url: "@Url.Action("GetOpeningBal", "Payment")",
            data: { Id: selected },
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {

                $("#OpeningBal").val(data);
            }
        });

    }

</script>
