@model IEnumerable<ERPOLD.Models.TBACCOUNTMASTER>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OPENING_BALANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPENINGTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TINNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOBILENO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBACCOUNTTYPEMASTER.ACCOUNTTYPENAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBBALANCESHEETGROUP.BALANCESHEETGROUPNM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBBALANCESHEETGROUP1.BALANCESHEETGROUPNM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBACCOUNTMASTER1.OPENINGTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBACCOUNTMASTER2.OPENINGTYPE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OPENING_BALANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPENINGTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TINNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOBILENO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBACCOUNTTYPEMASTER.ACCOUNTTYPENAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBBALANCESHEETGROUP.BALANCESHEETGROUPNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBBALANCESHEETGROUP1.BALANCESHEETGROUPNM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBACCOUNTMASTER1.OPENINGTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBACCOUNTMASTER2.OPENINGTYPE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ACCOUNTID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ACCOUNTID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ACCOUNTID })
        </td>
    </tr>
}

</table>
