<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    @* <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/getmeinstant.css" rel="stylesheet" />*@

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


    @*<script src="~/Content/js/bootstrap.min.js"></script>*@


</head>
<body>
    <div class="outerbody">
        <div class="first">
            <div class="container">
                <div class="row">
                    <div class="fisrtouterdiv">


                        <div class="firstdivbuttoninventort">
                            <nav class="navbar navbar-default">
                                <div class="col-xs-12 col-md-4 col-sm-4 col-lg-4">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header firstdivlogoinventory">
                                        <a href="#"><img src="/Content/images/login4.png"></a>
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-8 col-sm-8 col-lg-8">
                                    <div class="navigationinventory">
                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav pull-right">

                                                <li>@Html.ActionLink("HOME", "Index", "Inventory")</li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MASTER <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li>@Html.ActionLink("Item Master", "ItemMasterHeader", "Inventory")</li>
                                                        <li>@Html.ActionLink("Brand Master", "Index", "Inventory")</li>
                                                        <li>@Html.ActionLink("Size Master", "Size", "Inventory")</li>
                                                        <li>@Html.ActionLink("Account Master", "AccountMaster", "Inventory")</li>
                                                        <li>@Html.ActionLink("Account Type Master", "AccountTypeMaster", "Inventory")</li>

                                                    </ul>
                                                </li>
                                                

                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BILLING <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        @*<li><a href="#">Purchase</a></li>*@
                                                        <li>@Html.ActionLink("Purchase", "PurchaseHeader", "Purchase")</li>
                                                        <li>@Html.ActionLink("Sale", "SaleHeader", "Purchase")</li>

                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ACCOUNT <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li>@Html.ActionLink("Cash Receipt", "CashReceipt", "Payment")</li>
                                                        <li>@Html.ActionLink("Cash Payment", "CashPayment", "Payment")</li>
                                                        <li>@Html.ActionLink("Cheque Receipt", "ChequeReceipt", "Payment")</li>
                                                        <li>@Html.ActionLink("Cheque Payment", "CHQPayment", "Payment")</li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">REPORT <span class="caret"></span></a>

                                                    <ul class="dropdown-menu">
                                                        <li class="reportdropdown dropbtn">
                                                            Account_Ledger
                                                            <span> <i class="fa fa-caret-right" aria-hidden="true"></i></span>
                                                            <div class="dropdown">
                                                                <div class="dropdown-content">
                                                                    <a href="#">Link 1</a>
                                                                    <a href="#">Link 2</a>
                                                                    <a href="#">Link 3</a>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li><a href="#">Trial Balance</a></li>
                                                        <li><a href="#">Trading Balance</a></li>
                                                        <li><a href="#">Balance Sheet</a></li>

                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SERVICES <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Separated link</a></li>
                                                        <li><a href="#">One more separated link</a></li>
                                                        <li><a href="#">Something else here</a></li>

                                                    </ul>
                                                </li>
                                                <li><a href="#"><i class="fa fa-power-off" aria-hidden="true"></i></a></li>
                                            </ul>


                                        </div><!-- /.navbar-collapse -->
                                    </div>
                                </div>
                            </nav>

                        </div>


                    </div>

                </div>
            </div>
        </div>
        @*<div class="second">
                <div class="container">
                    <div class="row">
                        <div class="secondouterdiv">
                            <div class="seconddivimage">
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="seconddivimage1">
                                        <img src="/Content/images/divimg1.png" class="img-responsive">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>*@



        @RenderBody()
    </div>



    <div class="third">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="thirddiv">

                        <p>GETMEINSTANT <i class="fa fa-copyright" aria-hidden="true"></i> 2017/ All Rights Reserved</p>
                    </div>

                </div>
            </div>
        </div>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
